/***********************
**			 MOBILE				**
***********************/
@charset 'utf-8';
/* CSS Document */


body{
	font-size:22px;
}
#container{
	width:90%;
	max-width:auto;
	min-width:auto;
	padding-top:95px;
}
#header{
	height:120px;
}
#logo{
	width:90%;
	max-width:auto;
	min-width:auto;
	padding-left:0;
	text-align:center;
}
.mobile-wide{
	width:50%;
}
#left-col,#right-col{
	width:100%;
	float:none;
	border:0;
}
#right-col{
	margin-top:50px;
}
#right-col > .right-module{
	padding:40px 0;
	border-bottom:0;
	border-top:1px solid #D5D5D5;
}
#right-col > .right-module:first-child{
	padding-top:40px;
}
.body-header{
	font-size:32px;
}
.learnmore-header{
	font-size:52px;
}
.demobutton{
	font-size:36px;
	padding:16px 0;
}
.modal > .modal-content{
	width:80%;
	font-size:28px;
}
.modal > .modal-content > .exit{
	font-size:54px;
}
.manifestobox-header{
	font-size:34px;
}
#manifesto{
	width:65%;
}
.manifesto-header{
	font-size:36px;
}
.manifesto-body{
	font-size:30px;
	line-height:28px;
}
#footer{
	font-size:16px;
}